[Unit]
Description=Gunicorn instance to serve {{ project_name }}
After=network.target

[Service]
User={{ username }}
Group=www-data
WorkingDirectory={{ project_path }}
Environment="PATH={{ venv_path }}/venv/bin"
EnvironmentFile={{ envFile_path }}
ExecStart={{ project_path }}/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target